
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bad4e1;
}
 h1 {
  font-family: 'Zeyada', cursive;
 }

 button {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgb(17, 142, 215);
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;

 }